<a href="https://colab.research.google.com/github/krGaurav310/Projects/blob/main/Deep_Neural_network_On_Hospital_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.metrics import cohen_kappa_score, make_scorer
from sklearn import preprocessing
import tensorflow as tf
from keras.models import Sequential
import pandas as pd
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
import tensorflow_addons as tfa
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.optimizers import SGD

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
#load the train data and test data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
#Print first 5 rows
train.head()

   Hospital_code Hospital_type_code  ...  Admission_Deposit   Stay
0              8                  c  ...               4911   0-10
1              2                  c  ...               5954  41-50
2             10                  e  ...               4745  31-40
3             26                  b  ...               7272  41-50
4             26                  b  ...               5558  41-50

[5 rows x 17 columns]

In [ ]:
#Checking the number of rows and columns
train.shape

(244648, 17)

In [ ]:
#Checking for missing values in the train data
train.isnull().sum()

Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    3147
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [ ]:
#Checking for missing values in test data
test.isnull().sum()

Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                               0
patientid                               0
City_Code_Patient                    1385
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [ ]:
#dropping patientid as it will not make any sense for prediction
#dropping city code patients as it has missing values in the test data as well, and imputing in test data or removing rows in test data is not advisable.
train=train.drop(["patientid","City_Code_Patient"],axis=1)
test=test.drop(["patientid","City_Code_Patient"],axis=1)

In [ ]:
#removing the other rows in train data with missing values
train=train.dropna()

In [ ]:
#dropping duplicate rows in train data
train=train.drop_duplicates()

In [ ]:
#Checking the classes in the target variable
train['Stay'].value_counts()

21-30                 68178
11-20                 57611
31-40                 43173
51-60                 28184
0-10                  16461
41-50                  8918
71-80                  8283
More than 100 Days     5203
81-90                  3929
91-100                 2245
61-70                  2128
Name: Stay, dtype: int64

In [ ]:
#grouping the classes in the target variable as mentioned in the problem statement
train['Stay'] = train['Stay'].replace(['0-10'],'0-20')
train['Stay'] = train['Stay'].replace(['11-20'],'0-20')
train['Stay'] = train['Stay'].replace(['21-30'],'21-40')
train['Stay'] = train['Stay'].replace(['31-40'],'21-40')
train['Stay'] = train['Stay'].replace(['41-50'],'41-60')
train['Stay'] = train['Stay'].replace(['51-60'],'41-60')
train['Stay'] = train['Stay'].replace(['61-70'],'61-80')
train['Stay'] = train['Stay'].replace(['71-80'],'61-80')
train['Stay'] = train['Stay'].replace(['81-90'],'More_than_80')
train['Stay'] = train['Stay'].replace(['91-100'],'More_than_80')
train['Stay'] = train['Stay'].replace(['More than 100 Days'],'More_than_80')

In [ ]:
#rechecking the target classes
train['Stay'].value_counts()

21-40           111351
0-20             74072
41-60            37102
More_than_80     11377
61-80            10411
Name: Stay, dtype: int64

In [ ]:
#label encoding the categorical variables
colnames = list(train.columns)
label_encoder = preprocessing.LabelEncoder() 
for col in colnames:
    if train[col].dtype==object:
        train[col]= label_encoder.fit_transform(train[col])

In [ ]:
#print top 5 rows after pre processing
train.head()

   Hospital_code  Hospital_type_code  ...  Admission_Deposit  Stay
0              8                   2  ...               4911     0
1              2                   2  ...               5954     2
2             10                   4  ...               4745     1
3             26                   1  ...               7272     2
4             26                   1  ...               5558     2

[5 rows x 15 columns]

In [ ]:
#Standardising the only numerical variable
train["Admission_Deposit"]= (train["Admission_Deposit"] - train["Admission_Deposit"].mean())/train["Admission_Deposit"].std()

In [ ]:
#Checking the final table before modelling
train.head(2)

   Hospital_code  Hospital_type_code  ...  Admission_Deposit  Stay
0              8                   2  ...           0.006086     0
1              2                   2  ...           0.979863     2

[2 rows x 15 columns]

In [ ]:
#Checking the number of rows and columns
train.shape

(244313, 15)

In [ ]:
#Spliiting the independent and dependent variables
dataset = train.values
X = dataset[:,0:14].astype(float)
Y = dataset[:,14]

In [ ]:
#Creating dummy for the target classes
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_y = np_utils.to_categorical(encoded_Y)

In [ ]:
#Creating a loss metric Cohen Kappa using tensorflow addon
lossfunc=tfa.metrics.CohenKappa(num_classes=5,sparse_labels=False)

In [ ]:
#model development
model=Sequential([
                        Dense(14, input_shape=(14,),activation='relu'),
                        Dense(8,activation='relu'),
                        Dense(5,activation='softmax')
])
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=lossfunc
              )
model.fit(X,dummy_y,epochs=100)

Epoch 1/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.1580 - cohen_kappa: 0.1349
Epoch 2/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.1000 - cohen_kappa: 0.1941
Epoch 3/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0885 - cohen_kappa: 0.2091
Epoch 4/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0832 - cohen_kappa: 0.2151
Epoch 5/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0809 - cohen_kappa: 0.2182
Epoch 6/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0770 - cohen_kappa: 0.2228
Epoch 7/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0749 - cohen_kappa: 0.2263
Epoch 8/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0736 - cohen_kappa: 0.2266
Epoch 9/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0729 - cohen_kappa: 0.2277
Epoch 10/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0721 - cohen_kappa: 0.2316
Epoch 11/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0715 - cohen_kappa: 0.2316
Epoch 12/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0706 - cohen_kappa: 0.2330
Epoch 13/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0697 - cohen_kappa: 0.2332
Epoch 14/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0692 - cohen_kappa: 0.2348
Epoch 15/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0683 - cohen_kappa: 0.2353
Epoch 16/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0676 - cohen_kappa: 0.2371
Epoch 17/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0671 - cohen_kappa: 0.2386
Epoch 18/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0667 - cohen_kappa: 0.2387
Epoch 19/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0666 - cohen_kappa: 0.2385
Epoch 20/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0658 - cohen_kappa: 0.2404
Epoch 21/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0654 - cohen_kappa: 0.2395
Epoch 22/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0648 - cohen_kappa: 0.2405
Epoch 23/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0641 - cohen_kappa: 0.2428
Epoch 24/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0638 - cohen_kappa: 0.2430
Epoch 25/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0638 - cohen_kappa: 0.2422
Epoch 26/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0634 - cohen_kappa: 0.2447
Epoch 27/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0632 - cohen_kappa: 0.2430
Epoch 28/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0631 - cohen_kappa: 0.2445
Epoch 29/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0627 - cohen_kappa: 0.2449
Epoch 30/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0628 - cohen_kappa: 0.2457
Epoch 31/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0624 - cohen_kappa: 0.2444
Epoch 32/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0624 - cohen_kappa: 0.2461
Epoch 33/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0623 - cohen_kappa: 0.2469
Epoch 34/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0623 - cohen_kappa: 0.2468
Epoch 35/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0618 - cohen_kappa: 0.2469
Epoch 36/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0618 - cohen_kappa: 0.2472
Epoch 37/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0619 - cohen_kappa: 0.2475
Epoch 38/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0618 - cohen_kappa: 0.2493
Epoch 39/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0614 - cohen_kappa: 0.2490
Epoch 40/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0616 - cohen_kappa: 0.2493
Epoch 41/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0618 - cohen_kappa: 0.2493
Epoch 42/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0615 - cohen_kappa: 0.2484
Epoch 43/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0615 - cohen_kappa: 0.2494
Epoch 44/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0614 - cohen_kappa: 0.2509
Epoch 45/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0611 - cohen_kappa: 0.2491
Epoch 46/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0612 - cohen_kappa: 0.2490
Epoch 47/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0612 - cohen_kappa: 0.2498
Epoch 48/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0611 - cohen_kappa: 0.2492
Epoch 49/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0610 - cohen_kappa: 0.2500
Epoch 50/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0610 - cohen_kappa: 0.2505
Epoch 51/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0610 - cohen_kappa: 0.2507
Epoch 52/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0608 - cohen_kappa: 0.2501
Epoch 53/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0611 - cohen_kappa: 0.2497
Epoch 54/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0610 - cohen_kappa: 0.2495
Epoch 55/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0609 - cohen_kappa: 0.2501
Epoch 56/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0608 - cohen_kappa: 0.2512
Epoch 57/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0608 - cohen_kappa: 0.2507
Epoch 58/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0606 - cohen_kappa: 0.2507
Epoch 59/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0606 - cohen_kappa: 0.2496
Epoch 60/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0607 - cohen_kappa: 0.2507
Epoch 61/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0606 - cohen_kappa: 0.2511
Epoch 62/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0608 - cohen_kappa: 0.2508
Epoch 63/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0603 - cohen_kappa: 0.2508
Epoch 64/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0606 - cohen_kappa: 0.2512
Epoch 65/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0604 - cohen_kappa: 0.2514
Epoch 66/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0603 - cohen_kappa: 0.2520
Epoch 67/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0604 - cohen_kappa: 0.2510
Epoch 68/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0602 - cohen_kappa: 0.2519
Epoch 69/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0602 - cohen_kappa: 0.2530
Epoch 70/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0601 - cohen_kappa: 0.2530
Epoch 71/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0600 - cohen_kappa: 0.2532
Epoch 72/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0598 - cohen_kappa: 0.2533
Epoch 73/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0599 - cohen_kappa: 0.2527
Epoch 74/100
7635/7635 [==============================] - 10s 1ms/step - loss: 1.0599 - cohen_kappa: 0.2529
Epoch 75/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0599 - cohen_kappa: 0.2531
Epoch 76/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0599 - cohen_kappa: 0.2535
Epoch 77/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0595 - cohen_kappa: 0.2535
Epoch 78/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0595 - cohen_kappa: 0.2536
Epoch 79/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0596 - cohen_kappa: 0.2545
Epoch 80/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0597 - cohen_kappa: 0.2544
Epoch 81/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0594 - cohen_kappa: 0.2539
Epoch 82/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0590 - cohen_kappa: 0.2542
Epoch 83/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0590 - cohen_kappa: 0.2552
Epoch 84/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0591 - cohen_kappa: 0.2548
Epoch 85/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0588 - cohen_kappa: 0.2557
Epoch 86/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0588 - cohen_kappa: 0.2557
Epoch 87/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0588 - cohen_kappa: 0.2563
Epoch 88/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0588 - cohen_kappa: 0.2558
Epoch 89/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0585 - cohen_kappa: 0.2573
Epoch 90/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0586 - cohen_kappa: 0.2555
Epoch 91/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0585 - cohen_kappa: 0.2554
Epoch 92/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0585 - cohen_kappa: 0.2573
Epoch 93/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0583 - cohen_kappa: 0.2563
Epoch 94/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0583 - cohen_kappa: 0.2567
Epoch 95/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0582 - cohen_kappa: 0.2560
Epoch 96/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0584 - cohen_kappa: 0.2562
Epoch 97/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0584 - cohen_kappa: 0.2572
Epoch 98/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0582 - cohen_kappa: 0.2564
Epoch 99/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0582 - cohen_kappa: 0.2563
Epoch 100/100
7635/7635 [==============================] - 9s 1ms/step - loss: 1.0581 - cohen_kappa: 0.2570

In [ ]:
#Checking the number of rows and columns in test data
test.shape

(73790, 15)

In [ ]:
#Grouping the target output classes as mentioned in the problem statement
test['Stay'] = test['Stay'].replace(['0-10'],'0-20')
test['Stay'] = test['Stay'].replace(['11-20'],'0-20')
test['Stay'] = test['Stay'].replace(['21-30'],'21-40')
test['Stay'] = test['Stay'].replace(['31-40'],'21-40')
test['Stay'] = test['Stay'].replace(['41-50'],'41-60')
test['Stay'] = test['Stay'].replace(['51-60'],'41-60')
test['Stay'] = test['Stay'].replace(['61-70'],'61-80')
test['Stay'] = test['Stay'].replace(['71-80'],'61-80')
test['Stay'] = test['Stay'].replace(['81-90'],'More_than_80')
test['Stay'] = test['Stay'].replace(['91-100'],'More_than_80')
test['Stay'] = test['Stay'].replace(['More than 100 Days'],'More_than_80')

In [ ]:
#Rechecking the target output classes
test["Stay"].value_counts()

21-40           31137
0-20            27576
41-60            9613
More_than_80     2893
61-80            2571
Name: Stay, dtype: int64

In [ ]:
#Label encoding the categorical variables
colnames = list(test.columns)
label_encoder = preprocessing.LabelEncoder() 
for col in colnames:
    if test[col].dtype==object:
        test[col]= label_encoder.fit_transform(test[col])

In [ ]:
#Standardising the numerical variable
test["Admission_Deposit"]= (test["Admission_Deposit"] - test["Admission_Deposit"].mean())/test["Admission_Deposit"].std()

In [ ]:
#Splitting data into depedent and independent variables
dataset = test.values
X_test = dataset[:,0:14].astype(float)
Y_test = dataset[:,14]

In [ ]:
#Creating dummy for the target classes
encoder = LabelEncoder()
encoder.fit(Y_test)
encoded_Y = encoder.transform(Y_test)
dummy_ytest = np_utils.to_categorical(encoded_Y)

In [ ]:
#Evaluating the test data
score = model.evaluate(X_test, dummy_ytest)

2306/2306 [==============================] - 2s 979us/step - loss: 1.0647 - cohen_kappa: 0.2416